/* creando una VARIBALE de la siguiente forma*/
:root{
    --primary-color: #8b5bf1;
    --secondary-color: #b4d2f7;
    --header-size:4rem;
    --font:1.8rem;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;/*para que un rem sea igual a 10px*/
}
header{
    width: 100vw;
    height: 25vh;
    background-color: var(--primary-color);
}
main{
    width: 100vw;
    height: 70vh;
    font-size: var(--font);/*este fontsize le indinca el tamaño de letra al h1 y al p por herencia*/
}
h1{
    font-size: var(--header-size);
    color: #8b5bf1;
}
footer{
    width: 100vw;
    height: 15vh;
    background-color: var(--secondary-color);
}